@font-face {
    font-family: 'Record-Font';
    src        : url('./RecordFont.eot?ouh4mz');
    src        : url('./RecordFont.eot?ouh4mz#iefix') format('embedded-opentype'),
        url('./RecordFont.ttf?ouh4mz') format('truetype'),
        url('./RecordFont.woff?ouh4mz') format('woff'),
        url('./RecordFont.svg?ouh4mz#RecordFont') format('svg');
    font-weight : normal;
    font-style  : normal;
    font-display: block;
}